@use './../styles/colors';
@use './../styles/sizes';

.analyzer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .block {
    width: 100px;
    background-color: yellow;
  }
}

@media (max-width: sizes.$mobileMax) {
  .analyzer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .block {
    }
  }
}
