$hoverColor: #00234b;
$hintColor: grey;
$mainBgColor: rgb(255, 255, 255);
$linkColor: rgb(255, 255, 255);
$activeColor: #022c88;
$focusColor: rgb(197, 0, 33);
$disabledColor: rgba(72, 126, 243, 0.281);
$layoutBgColor: #003c81;
