$hoverColor: #00d5cb;
$hintColor: grey;
$mainBgColor: rgb(255, 255, 255);
$linkColor: rgb(255, 255, 255);
$activeColor: rgb(2, 44, 136);
$focusColor: rgb(197, 0, 33);
$disabledColor: rgba(72, 126, 243, 0.281);
$layoutBgColor: #003c81;
