@use './../styles/colors';

span.flagsHint {
  color: colors.$hintColor;
  align-self: center;
  top: -1px;
  cursor: pointer;
  position: relative;
}
div.selectFlagsInput {
  position: absolute;
  display: flex;
  flex-direction: row;
  line-height: 20px;
  height: 40px;
  vertical-align: middle;
  user-select: none;
  justify-content: center;
  align-items: center;
  right: 1px;
}
button.selectActivator {
  background-color: colors.$mainBgColor;
  color: rgb(0, 95, 0);
  margin: 0;
  padding: 10px;
  min-width: 25px;
  height: 38px;
  vertical-align: bottom;
  border: 0px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
select.flagsBlock {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  padding: 1px;
  overflow-y: auto;
  * {
    padding: 3px;
    height: 2em;
    padding: auto;
  }
  :hover {
    background-color: colors.$linkColor;
  }

  :active {
  }
}
#flagsOption {
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: colors.$layoutBgColor;
    color: colors.$linkColor;
  }
}
