@use './../App';

span.flagsHint {
  // background-color: red;
  color: grey;
  align-self: center;
  // height: 38px;
  // align-items: center;
  // position: absolute;
    top: -1px;
    position: relative;
}
div.selectFlagsInput {
  position: absolute;
  display: flex;
  flex-direction: row;
  line-height: 20px;
  height: 40px;
  vertical-align: middle;
  user-select: none;
  justify-content: center;
  align-items: center;
  right: 1px;
  // padding-right: 15px;
  // top: 1px;
}
button.selectActivator {
  background-color: white;
  color: rgb(0, 95, 0);
  margin: 0;
  padding: 10px;
  min-width: 25px;
  height: 38px;
  vertical-align: bottom;
  // background-color: rgba(213, 247, 24, 0.411);
  border: 0px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
select.flagsBlock {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  // height: inherit;
  // font-size: 0.6em;
  padding: 1px;
  overflow-y: auto;
  * {
    padding: 3px;
    height: 2em;
    padding: auto;
    // min-height: 1.5em;
  }
  :hover {
    background-color: App.$linkColor;
  }

  :active {
    // background-color: red;
  }
}
#flagsOption {
  display: flex;
  justify-content: space-between;
}
