@use './../App';
.footer {
  background-color: App.$secondBgColor;
  height: 10vh;
  // width: 900px;
  width: 100%;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  // position: sticky;
  bottom: 0;
  a.link {
    color: App.$linkColor;
    // font-size: 15px;
    text-decoration: none;
  }
}
