@use './../App';

.header {
  height: 57px;
  background-color: App.$layoutBgColor;
  width: 970px;
  display: flex;
  position: fixed;
  top: 0px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  box-shadow: 0 0 0 1px #e0e0e0;
  color: white;
  z-index: 800;

  .logo {
    align-self: center;
    padding-left: 10px;
    color: App.$linkColor;
    text-decoration: none;
    &:hover {
      color: App.$hoverColor;
    }
  }
}
.navigation {
  display: flex;
  width: 65vw;
  justify-content: flex-end;
  align-items: center;
  a.link {
    color: App.$linkColor;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px App.$layoutBgColor solid;
    &:hover {
      // color: App.$hoverColor;
      text-decoration: underline;
      // border: 1px App.$mainBgColor solid;
    }
  }
  a.active {
    background-color: App.$mainBgColor;
    color: App.$layoutBgColor;
    border: 1px App.$activeColor solid;
    &:hover {
      background-color: App.$mainBgColor;
      color: App.$layoutBgColor;
      border: 1px App.$activeColor solid;
      text-decoration: none;
      cursor: default;
    }
  }
}
.testStuff {
  background-color: pink;
}
