@use './../styles/colors';

.header {
  height: 57px;
  background-color: colors.$layoutBgColor;
  width: 970px;
  display: flex;
  position: fixed;
  top: 0px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  box-shadow: 0 0 0 1px #e0e0e0;
  color: white;
  z-index: 800;

  .logo {
    align-self: center;
    padding-left: 10px;
    color: colors.$linkColor;
    text-decoration: none;
    &:hover {
      color: colors.$hoverColor;
    }
  }
}
.navigation {
  display: flex;
  width: 65vw;
  justify-content: flex-end;
  align-items: center;
  a.link,
  div.link {
    color: colors.$linkColor;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px colors.$layoutBgColor solid;
    &:hover {
      // color: colors.$hoverColor;
      text-decoration: underline;
      // border: 1px colors.$mainBgColor solid;
    }
  }
  div.link {
    &:hover {
      // color: colors.$hoverColor;
      text-decoration: none;
      // border: 1px colors.$mainBgColor solid;
    }
  }
  > a.active {
    background-color: colors.$mainBgColor;
    color: colors.$layoutBgColor;
    border: 1px colors.$activeColor solid;
    &:hover {
      background-color: colors.$mainBgColor;
      color: colors.$layoutBgColor;
      border: 1px colors.$activeColor solid;
      text-decoration: none;
      cursor: default;
    }
  }

  .navList {
    background-color: colors.$layoutBgColor;
    border: 1px colors.$mainBgColor solid;
    // display: none;
    position: absolute;
    margin: 0px;
    width: 60px;
    top: 57px;
    padding: 1px;
    li {
      text-align: center;
      list-style: none;
      a {
        width: 100%;
        color: colors.$mainBgColor;
        text-decoration: none;
        background-color: colors.$layoutBgColor;
        border: none;
      }
      &:hover, &:hover a {
        background-color: colors.$mainBgColor;
        color: colors.$layoutBgColor;
      }
    }
  }
}
.testStuff {
  background-color: pink;
}

.accLink {
  // background-color: red;
  background-color: colors.$layoutBgColor;
  border: none;
  color: colors.$linkColor;
  cursor: pointer;
  border-radius: 3px;
}
// .active button {
//   // vertical-align: baseline;
//   // font-size: 0.7em;
//   margin-left: 3px;
//   // border: 1px solid colors.$layoutBgColor;
//   border-radius: 3px;
//   background-color: colors.$linkColor;
//   color: colors.$layoutBgColor;
//   &:hover {
//     border-radius: 3px;
//     background-color: colors.$layoutBgColor;
//     color: colors.$linkColor;
//   }
// }
