@use './../styles/colors';
@use './../styles/sizes';

.header {
  height: 57px;
  background-color: colors.$layoutBgColor;
  width: sizes.$appWidth;
  display: flex;
  position: fixed;
  top: 0px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  box-shadow: 0 0 0 1px #e0e0e0;
  color: white;
  z-index: 800;

  .linkLogo {
    align-self: center;
    // padding-left: 10px;
    height: 100%;
    color: colors.$linkColor;
    text-decoration: none;
    -webkit-text-decoration: none;
    &:hover {
      background-color: colors.$hoverColor;
    }
    img {
      height: 57px;
      &:hover {
        filter: invert(22%) sepia(3%) saturate(7059%) hue-rotate(194deg)
          brightness(93%) contrast(105%);
      }
    }
  }
}

.navigation {
  display: flex;
  width: 65vw;
  justify-content: flex-end;
  align-items: center;
  img.menuIcon {
    display: none;
  }
  .menuList {
    display: flex;
    height: 100%;
    align-items: center;

    & > a.link,
    & > div.link {
      color: colors.$linkColor;
      position: relative;
      text-decoration: none;
      -webkit-text-decoration: none;
      height: 100%;
      vertical-align: middle;
      padding-top: 14px;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px colors.$layoutBgColor solid;
      &:hover {
        text-decoration: underline;
        -webkit-text-decoration: underline;
      }

      .navList {
        background-color: colors.$layoutBgColor;
        border: 1px colors.$mainBgColor solid;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 21px;
        padding: 1px;
        li {
          text-align: center;
          list-style: none;
          a {
            width: 100%;
            display: inline-block;
            color: colors.$mainBgColor;
            text-decoration: none;
            -webkit-text-decoration: none;
            background-color: colors.$layoutBgColor;
            border: none;
          }
          &:hover,
          &:hover a {
            background-color: colors.$mainBgColor;
            color: colors.$layoutBgColor;
          }
        }
      }
    }
    div.link {
      &:hover {
        text-decoration: none;
        -webkit-text-decoration: none;
      }
    }
    > a.active {
      background-color: colors.$mainBgColor;
      color: colors.$layoutBgColor;
      border: 1px colors.$activeColor solid;
      &:hover {
        background-color: colors.$mainBgColor;
        color: colors.$layoutBgColor;
        border: 1px colors.$activeColor solid;
        text-decoration: none;
        -webkit-text-decoration: none;
        cursor: default;
      }
    }
  }
}
.accLink {
  background-color: colors.$layoutBgColor;
  border: none;
  color: colors.$linkColor;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: sizes.$mobileMax) {
  header.header {
    width: 100%;
    // border: 2px dashed purple;
  }
  div.navigation {
    display: flex;
    width: min-content;
    justify-content: flex-end;
    align-items: center;
    img.menuIcon {
      cursor: pointer;
      height: 100%;
      display: block;
      padding: 15px;
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(86deg)
        brightness(107%) contrast(100%);

      &:hover {
        filter: invert(36%) sepia(59%) saturate(337%) hue-rotate(169deg)
          brightness(94%) contrast(86%);
      }
    }
    .menuList {
      display: flex;
      background-color: red;
      right: 0px;
      height: fit-content;
      top: 57px;
      position: absolute;
      flex-direction: column;
      background-color: colors.$layoutBgColor;
      & > a.link,
      & > div.link {
        color: colors.$linkColor;
        text-decoration: none;
        -webkit-text-decoration: none;
        height: 100%;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px colors.$layoutBgColor solid;
        &:hover {
          text-decoration: underline;
          -webkit-text-decoration: underline;
        }
      }
      > a.active {
        background-color: colors.$mainBgColor;
        color: colors.$layoutBgColor;
        border: 1px colors.$activeColor solid;
        &:hover {
          background-color: colors.$mainBgColor;
          color: colors.$layoutBgColor;
          border: 1px colors.$activeColor solid;
          text-decoration: none;
          -webkit-text-decoration: none;
          cursor: default;
        }
      }
    }
  }
}

@media (min-width: sizes.$tabletMin) and (max-width: sizes.$tabletMax) {
  header.header {
    width: 100%;
  }
  div.navigation {
    width: fit-content;
  }
}

@media (min-width: sizes.$laptopMin) and (max-width: sizes.$appWidth) {
  header.header {
    width: 100%;
  }
  div.navigation {
    width: fit-content;
  }
}
