@use './../styles/colors';
@use './../styles/sizes';

.leaderboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.leaderboardContent {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.leaderboardSettings {
  width: 200px;
  display: flex;
  flex-direction: column;
  span.settingsTitle {
    margin-left: 5px;
  }
}
.radioItem {
  user-select: none;
}
input.radioBtn {
  padding-left: 5px;
  appearance: none;
  &:hover ~ label {
    text-decoration: underline;
    -webkit-text-decoration: underline;
    cursor: pointer;
  }
  &:checked ~ label {
    text-decoration: underline;
    -webkit-text-decoration: underline;
    color: colors.$activeColor;
  }
  &:checked:hover ~ label {
    cursor: default;
  }
}
.leaderboardNotification {
  margin: 5px;
  height: min-content;
}
.restartBlock {
  width: fit-content;
  // height: 100px;
  margin-top: 15px;
  margin-left: 3px;
  margin-bottom: 10px;
  a {
    background-color: colors.$layoutBgColor;
    color: colors.$linkColor;
    height: 25px;
    text-decoration: none;
    -webkit-text-decoration: none;
    margin: 0 auto;
    // height: 20px;
    padding: 5px;
    border: 1px solid colors.$layoutBgColor;
    border-radius: 4px;
    &:hover {
      background-color: colors.$linkColor;
      border: 1px solid colors.$layoutBgColor;
      color: colors.$layoutBgColor;
      cursor: pointer;
    }
    &:active {
      background-color: colors.$activeColor;
    }
  }
}

@media (max-width: sizes.$mobileMax) {
  .leaderboardContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: sizes.$tabletMin) and (max-width: sizes.$tabletMax) {
  .leaderboardContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: sizes.$laptopMin) and (max-width: sizes.$appWidth) {
  div.app {
    width: 100%;
  }
}
