@use './../styles/colors';

.notificationBlock {
  box-shadow: 7px 7px 12px 1px black;
  position: absolute;
  z-index: 900;
  border: 1px;
  border-radius: 3px;
  display: flex;
  background-color: colors.$mainBgColor;
  border-style: solid;
  border-width: 1px;
  border-color: colors.$layoutBgColor;
  padding: 4px;
  max-width: 300px;
  white-space: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
  }
}
