@use './../styles/colors';

.notificationBlock {
  // display: none;
  position: absolute;
  z-index: 900;
  border: 1px;
  border-radius: 3px;
  display: flex;
  background-color: colors.$mainBgColor;
  border-style: solid;
  border-width: 1px;
  border-color: colors.$layoutBgColor;
  padding: 4px;
  // width: max-content;
  max-width: 300px;
  white-space: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  // color: red;
  * {
    // color: red;
    text-align: center;
  }
}
