@use './../styles/sizes';
@use './../styles/colors';

$slideTime: 1s;
$animIteration: infinite;
$horEnd: 35px;
$vertEnd: 35px;

div.popup {
  scale: 2.2;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 990;
  // transform: translate(-50%, -50%);
  span.popupText {
    position: absolute;
    z-index: 999;
    display: inline;
    transform-origin: left;
    animation-duration: $slideTime;
    animation-name: scaleText;
    animation-iteration-count: $animIteration;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .star {
    position: absolute;
    display: block;
    font-size: 24px;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .LT {
    left: -5px;
    animation-duration: $slideTime;
    animation-name: slideLT;
    animation-iteration-count: $animIteration;
  }
  .T {
    top: 0px;
    animation-duration: $slideTime;
    animation-name: slideT;
    animation-iteration-count: $animIteration;
  }
  .RT {
    left: 5px;
    animation-duration: $slideTime;
    animation-name: slideRT;
    animation-iteration-count: $animIteration;
  }
  .L {
    left: -5px;
    animation-duration: $slideTime;
    animation-name: slideL;
    animation-iteration-count: $animIteration;
  }
  .R {
    left: 5px;
    animation-duration: $slideTime;
    animation-name: slideR;
    animation-iteration-count: $animIteration;
  }
}
@keyframes slideLT {
  from {
    left: 0px;
    top: 0px;
  }

  to {
    top: -1 * $vertEnd + 10;
    left: -1 * $horEnd + 5;
    color: colors.$popupFin;
  }
}
@keyframes slideT {
  from {
    top: 0px;
  }

  to {
    top: $vertEnd * -1;
    color: colors.$popupFin;
  }
}
@keyframes slideRT {
  from {
    top: 0px;
    left: 0px;
  }

  to {
    top: $vertEnd * -1 +10;
    left: $horEnd - 5;
    color: colors.$popupFin;
  }
}

@keyframes slideR {
  from {
    top: 0px;
    left: 0px;
  }

  to {
    top: -5px;
    left: $horEnd + 5;
    color: colors.$popupFin;
  }
}
@keyframes slideL {
  from {
    top: 0px;
    left: 0px;
  }

  to {
    top: -5px;
    left: ($horEnd + 5) * -1;
    color: colors.$popupFin;
  }
}
@keyframes scaleText {
  from {
    scale: 0.5;
  }
  to {
    scale: 1.2;
    color: colors.$popupFin;
  }
}
