@use './../styles/colors';
@use './../styles/sizes';

div.questionBlock {
  display: flex;
  position: relative;
  width: 95%;
  margin-top: 20px;
  margin-right: 3px;
  flex-direction: row;
  .row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
  }
  .questionId {
    border: 2px blue solid;
    height: fit-content;
    padding: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }
  .questionCart {
    width: 100%;
    border: 2px solid #b90404;
    border-radius: 5px;
    border-top-left-radius: 0;
  }
}
.textBlock {
  display: flex;
  width: 50%;
  flex-direction: column;
  p.task {
    margin: 0;
    text-align: left;
    font-size: 0.9rem;
  }
  textarea {
    font-size: 20px;
    margin-top: 7px;
    resize: none;
    padding: 3px 7px;
    min-height: 10px;
    overflow: hidden;
    &:disabled {
      border: 1px solid #222222;
      background-color: colors.$mainBgColor;
    }
  }
}
.expectedBlock {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  span.value {
    margin-left: 2px;
    margin-top: 1px;
    padding: 3px 7px;
    background-color: colors.$mainBgColor;
    border: 1px solid #222222;
  }
  span.value:first-child {
    margin-left: 0;
  }
}
.answerBlock {
  .answerText {
    color: rgb(63, 0, 236);
  }
}

@media (max-width: sizes.$mobileMax) {
  textarea {
    background-color: red;
  }
}
