@use './../styles/colors';
@use './../styles/sizes';

div.questionBlock {
  display: flex;
  position: relative;
  width: 95%;
  margin-top: 20px;
  margin-right: 3px;
  flex-direction: row;
  &:first-of-type {
    margin-top: 10px;
  }
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .column {
      display: flex;
      flex-direction: column;
      padding: 5px;
      width: 50%;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
  }
  .questionId {
    border: 2px blue solid;
    height: fit-content;
    padding: 4px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }
  .questionCard {
    width: 100%;
    border: 2px solid #b90404;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    border-top-left-radius: 0;
  }
}
p.task {
  margin: 0;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  // font-size: 0.9rem;
}
.textBlock {
  display: flex;
  width: 50%;
  border: 3px solid red;
  flex-direction: column;
  & span {
    word-wrap: break-word;
  }
}
.expectedBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  span.key {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 3px;
    padding: 0;
    row-gap: 4px;
    column-gap: 4px;
    span.value {
      padding: 3px 7px;
      // height: 100%;
      background-color: colors.$mainBgColor;
      border: 1px solid colors.$layoutBgColor;
      border-radius: 5px;
      &:first-child {
        margin-left: 0;
      }
    }
    width: 98%;
  }
}
.answerBlock {
  padding: 5px;
  .answerText {
    color: rgb(63, 0, 236);
  }
}

@media (max-width: sizes.$mobileMax) {
  div.questionBlock {
    .columns {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .column {
        width: 100%;
      }
    }
  }

  span.textBlock {
    width: 90%;
  }
  .expectedBlock {
    align-items: flex-start;
    .wrapper {
      justify-content: flex-start;
    }
  }
}
