@use './../styles/colors';
@use './../styles/sizes';

select.functionsBlock {
  box-sizing: border-box;
  background-color: colors.$mainBgColor;
  padding: 3px;
  height: 40px;
  cursor: pointer;
  border: 1px solid colors.$layoutBgColor;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 100%;
  &:focus {
    border-color: colors.$focusColor;
    outline: none;
  }
  &:disabled {
    color: black;
    opacity: 100%;
  }
}

@media (max-width: sizes.$mobileMax) {
  select.functionsBlock {
    font-size: 0.8em; 
    width: 54px;
  }
}
