@use "./../App";

select.functionsBlock {
  // background-color: red;
  box-sizing: content-box;
  padding: 3px;
  height: 40px;
  border: 1px solid black;
  // height: 100%;
//   border-right: 0;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:focus {
    border-color: App.$linkColor;
    outline: none;
  }
  :selected{
    background-color: red;
  }
}
