@use './../styles/colors';

select.functionsBlock {
  box-sizing: border-box;
  padding: 3px;
  height: 40px;
  cursor: pointer;
  border: 1px solid colors.$layoutBgColor;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 100%;
  &:focus {
    border-color: colors.$focusColor;
    outline: none;
  }
  &:disabled {
    color: black;
    opacity: 100%;
  }
}
