@use './../styles/colors';
@use './../styles/sizes';

.signForm {
  width: 300px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: auto;
  .formBtn {
    margin-left: 0;
  }
  label {
    margin-top: 3px;
    display: flex;
    text-align: center;
    flex-direction: column;
    span {
      font-size: 0.8em;
    }
    input {
      box-sizing: content-box;
      height: 27px;
    }
    input.wrongInput {
      border-color: colors.$focusColor;
    }
    span.errorNotification {
      color: colors.$focusColor;
    }
  }
  label.important:not(:last-of-type) {
    span.field::after {
      content: '*';
      color: red;
    }
  }
  .notification {
    user-select: none;
    font-size: 0.7em;
    text-align: right;
    .signSwitcher {
      color: colors.$layoutBgColor;
      font-size: 1em;
      text-decoration: underline;
      -webkit-text-decoration: underline;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        -webkit-text-decoration: none;
      }
    }
  }
  .signBtn {
    background-color: red;
  }
}
@media (max-width: sizes.$mobileMax) {
  .signPage {
    max-width: 100%;
    .signForm {
      max-width: 100%;
    }
  }
}
