@use './../styles/colors';
@use './../styles/sizes';
.appOverlay {
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 790;//big enough to hide all except header
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
div.testScore {
  background-color: rgba(255, 255, 255, 0.9);
  width: 330px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
  position: absolute;
  border: 1px colors.$layoutBgColor solid;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  z-index: 888;
  flex-direction: column;
  justify-content: space-between;
  span.title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.row {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.rowHandlers {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: colors.$linkColor;
    a.link,
    span.link {
      display: block;
      border: 1px colors.$layoutBgColor solid;
      color: colors.$mainBgColor;
      background-color: colors.$layoutBgColor;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      text-decoration: none;
      -webkit-text-decoration: none;
      cursor: pointer;
      margin-left: 3px;
      border-radius: 5px;
      &:visited {
        color: colors.$linkColor;
      }
      &:hover {
        color: colors.$layoutBgColor;
        background-color: colors.$mainBgColor;
      }
    }
    a.btnDisabled,
    span.btnDisabled {
      pointer-events: none;
      background-color: rgba(72, 126, 243, 0.281);
      cursor: default;
    }
    *:first-child {
      margin-left: 0px;
      padding-top: 5px;
    }
  }
  .saveNotification {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .nickChanger {
      vertical-align: top;
      border: 1px solid colors.$layoutBgColor;
      margin-left: 3px;
      width: 100px;
    }
  }
}

@media (max-width: sizes.$mobileMax) {
  div.testScore {
    max-width: 90%;
    //
    * {
      font-size: 0.9rem;
    }
  }
  div.rowHandlers {
    a.link,
    span.link {
      font-size: 0.8rem;
    }
  }
}
