@use './../styles/colors';
@use './../styles/sizes';

div.testInput {
  margin-top: 5px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  button.startPtrn {
    pointer-events: none;
    position: absolute;
    display: flex;
    color: colors.$layoutBgColor;
    user-select: none;
    justify-content: center;
    align-items: center;
    height: 38px;
    top: 1px;
    border: none;
    margin-left: 3px;
    align-self: center;
    padding: 3px 10px 0 10px;
    background-color: colors.$mainBgColor;
    vertical-align: bottom;
    // background-color: red;
    // vertical-align: bottom;
    // vertical-align: top;
    // font-size: 20px;
  }
  div.inputBlock {
    width: 100%;
  }
  input {
    width: 100%;
    height: 40px;
    margin-bottom: '5px';
    padding: 3px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid colors.$layoutBgColor;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #1b00b1a2;
      opacity: 1; /* Firefox */
    }
    &:focus {
      outline: none;
      border: 1px solid colors.$focusColor;
    }
    &:disabled {
      background-color: colors.$mainBgColor;
    }
  }
}

@media (max-width: sizes.$mobileMax) {
  input#regexpInput {
    font-size: 0.8em;
  }
  div.testInput {
    button.startPtrn {
      margin: 0;
      margin-left: 3px;
    }
  }
}
