@use './../App';
div.testScore {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  position: absolute;
  border: 1px App.$layoutBgColor solid;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  z-index: 888;
  flex-direction: column;
  justify-content: space-between;
  span.title {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
  }
  div.row {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.rowHandlers {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: App.$linkColor;
    * {
      display: block;
      border: 1px App.$layoutBgColor solid;
      color: 1px App.$layoutBgColor solid;
      background-color: App.$layoutBgColor;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      text-decoration: none;
      cursor: pointer;
      margin-left: 3px;
      border-radius: 5px;
      &:visited {
        color: App.$linkColor;
      }
      &:hover {
        color: App.$layoutBgColor;
        background-color: App.$mainBgColor;
      }
    }
    *:first-child {
      margin-left: 0px;
      padding-top: 5px;
    }
  }
}
