@use './../styles/colors';
@use './../styles/sizes';
.timerBlock {
  display: flex;
  flex-direction: row;
}

@media (max-width: sizes.$mobileMin2) {
  .timerBlock {
    flex-direction: column;
    width: fit-content;
  }
}
