.App {
  text-align: center;
  height: 100vh;
}
.App-header {
  background-color: #d9d9da;
  /* min-height: 100vh; */
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3em;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 36, 36);
}
.App-footer {
  background-color: #282c34;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
  color: white;
}
.link {
  color: #0d6efd;
  text-decoration: none;
  font-size: 0.6em;
}
.App-footer .link {
  font-size: 1em;
  text-decoration: none;
}
.link:hover {
  color: white;
}
.readonly {
  background-color: rgb(136, 136, 136);
}
.matchElement {
  background-color: rgb(226, 226, 226);
  font-size: 0.6em;
  min-width: 30px;
  height: 30px;
  border-top: 1px solid rgb(153, 153, 153);
  border-left: 1px solid rgb(153, 153, 153);
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: -1px -1px black;
  box-shadow: 1px 1px black;
  padding: 0 1px 0 1px;
  margin: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: text-top;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.expectedResult {
  /* width: 50%; */
  /* left: 50%; */
  background-color: rgba(29, 29, 29, 0.438);
  transform: translate(0%, 0%);
  padding: 5px 1px 5px 1px;
  margin: 0 auto;
  justify-content: center;
  z-index: 100;
  top: 50px;
  position: absolute;
}
.expectedResultTitle {
  margin: 0;
  font-size: 0.7em;
  padding: 0;
} 
/* 
.questionsCount {
}
.selectActivator {
  later 
}*/
.testInput {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.flagsBlock {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  font-size: 0.6em;
}
.textArea {
  background-color: rgb(255, 255, 255);
  font-size: 0.7em;
  min-height: 100%;
  text-align: left;
  padding: 0 6px 0 6px;
  border: 1px solid rgb(139, 139, 139);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.resultBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px 0 3px 0;
  border: 1px solid rgb(139, 139, 139);
  background-color: rgb(255, 255, 255);
}
.lensIcon {
  font-size: 0.8em;
}
.starR,
.starL,
.starLT,
.starRT,
.starT {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .starR {
    animation: starAnimR infinite 1s ease-in;
  }

  .starL {
    animation: starAnimL infinite 1s ease-in;
  }

  .starLT {
    animation: starAnimLT infinite 1s ease-in;
  }

  .starRT {
    animation: starAnimRT infinite 1s ease-in;
  }

  .starT {
    animation: starAnimT infinite 1s ease-in;
  }
  .popupText {
    animation: popupTextAnim infinite 1s ease-in;
  }
}
@keyframes popupTextAnim {
  from {
    font-size: large;
  }
  to {
    font-size: larger;
  }
}
@keyframes starAnimR {
  from {
    color: white;
    left: -1rem;
    top: 0rem;
  }
  to {
    color: yellow;
    left: 3rem;
    top: -3rem;
  }
}
@keyframes starAnimL {
  from {
    color: white;
    left: 1rem;
    top: 0rem;
  }
  to {
    color: yellow;
    left: -3rem;
    top: -3rem;
  }
}
@keyframes starAnimLT {
  from {
    color: white;
    left: 0rem;
    top: 2rem;
  }
  to {
    color: yellow;
    left: -2rem;
    top: -1rem;
  }
}
@keyframes starAnimRT {
  from {
    color: white;
    left: 0rem;
    top: 2rem;
  }
  to {
    color: yellow;
    left: 2rem;
    top: -1rem;
  }
}
@keyframes starAnimT {
  from {
    color: white;
    left: 0rem;
    top: 2rem;
  }
  to {
    color: yellow;
    left: 0rem;
    top: -2rem;
  }
}
