// $linkColor: rgb(72, 126, 243);
$hoverColor: #00d5cb;
$hintColor: grey;
$mainBgColor: rgb(255, 255, 255);
$linkColor: rgb(255, 255, 255);
$activeColor: rgb(2, 44, 136);
$focusColor: rgb(197, 0, 33);
$disabledColor: rgba(72, 126, 243, 0.281);
$layoutBgColor: #003c81;

//layout
$headerHeight: 57px;
body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
  height: 100vh;
  * {
    box-sizing: border-box;
  }
}
div.root {
  height: 100%;
}
div.global {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: visible;
}
div.app {
  width: 970px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow: none;
  * {
    box-sizing: border-box;
    font-size: 18px;
    // margin: 0;
    // padding: 0;
  }
}
div.main {
  display: flex;
  box-shadow: 0 0 0 1px #e0e0e0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: $mainBgColor;
  //

  display: 'flex';
  flex-direction: column;
}
div.content {
  width: 100%;
  margin-top: 57px;
  padding: 4px 4px 0 4px;
  flex: 1;
}

h1.h1Title {
  text-align: center;
  margin-top: 10;
  margin-bottom: 0px;
}
button.formBtn {
  background-color: $layoutBgColor;
  color: $linkColor;
  padding: 5px;
  border: 1px solid $layoutBgColor;
  border-radius: 4px;
  margin-top: 3px;
  &:hover {
    background-color: $linkColor;
    color: $layoutBgColor;
    cursor: pointer;
  }
  &:active {
    background-color: $activeColor;
  }
  &:disabled {
    background-color: $disabledColor;
    cursor: default;
  }
  &:disabled:hover {
    background-color: $disabledColor;
    color: $linkColor;
  }
}